@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'] {
  @apply px-2 py-1 rounded-sm outline-none bg-gray-50;
  @apply text-gray-700 placeholder-gray-400 border border-gray-400;
}
